# Prevent jekyll information from being committed
.jekyll-cache
.jekyll-metadata

# Prevent the built site from being committed
pages/build

# Prevent vscode extensions from being committed
.vscode

# Prevent GH Workflows from being committed
.github

# Prevent test files from being committed
tests

# Prevent git files from being comitted
.git