{% assign author_groups = site.posts | group_by_exp: "item", "item.author" | sort_natural: "name" %}

<h6><a href="{{ site.url }}/" class="text-decoration-none">< Back to overview</a></h6>
<h6><a href="{{ site.url }}/authors/" class="text-decoration-none">< View all authors</a></h6>
<h6><a href="{{ site.url }}/categories/" class="text-decoration-none">> View all categories</a></h6>
{% for author_group in author_groups %}
<h3 id="{{ author_group.name | downcase }}"><a href="{{ page.url }}#{{ author_group.name | downcase }}">{{ author_group.name }}</a></h3>
<ul class="author-list">
{% assign post_group = author_group.items | sort %}
{% for post in post_group %}
<li>
    <p>
        <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
        <br/><small class="text-muted">Category: <a href="{{ site.url }}/category/{{ post.category | downcase }}" class="text-muted">{{ post.category | capitalize }}</a></small>
        <br/><small class="text-muted">
            Date: {{ post.date | date: "%d" }}
            <a href="{{ site.url }}/year/{{ post.date | date: '%Y' }}/month/{{ post.date | date: '%m' }}" class="text-muted">{{ post.date | date: "%B" }}</a>
            <a href="{{ site.url }}/year/{{ post.date | date: '%Y' }}" class="text-muted">{{ post.date | date: "%Y" }}</a>
        </small>
    </p>
</li>
{% endfor %}
</ul>
{% unless forloop.last %}<hr />{% endunless %}
{% endfor %}
<h6><a href="{{ site.url }}/" class="text-decoration-none">< Back to overview</a></h6>
<h6><a href="{{ site.url }}/authors/" class="text-decoration-none">< View all authors</a></h6>
<h6><a href="{{ site.url }}/categories/" class="text-decoration-none">> View all categories</a></h6>